
<div class="service-view">
    <h3 class="service-question"></h3>
    <div class="service-answers">
        <div class="service-answer">
            <div class="service-answer-single">
                <label>
                    <input type="radio" class="service-answer-view-id service-answer-click">
                    <span class="service-answer-text"></span>
                </label>
            </div>
            <div class="service-group-answers">
                <p><b class="service-answer-text"></b></p>
                <div class="service-group-answers-items"></div>
            </div>
        </div>
    </div>
</div>
