
<div class="haildamage-calculator additional-option">
    <b>Hagelrechner</b><br>
    <div>
        Schadensdurchmesser (in mm): <input disabled type="number" value="20">
    </div>
    <div class="table">
        <div class="table-row">
            <div class="table-cell"><b>Bauteil</b></div><div class="table-cell"><b>Anzahl</b></div><div class="table-cell"><b>Kosten</b></div>
        </div>
        <div class="table-row">
            <div class="table-cell">Fahrzeugdach</div><div class="table-cell"><input disabled type="number" value="3"></div><div class="table-cell">30 €</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Heckklappe</div><div class="table-cell"><input disabled type="number" value="3"></div><div class="table-cell">30 €</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Motorhaube</div><div class="table-cell"><input disabled type="number" value="3"></div><div class="table-cell">30 €</div>
        </div>
        <div class="table-row">
            <div class="table-cell"></div><div class="table-cell"></div><div class="table-cell"><b>Gesamtsumme</b>: 90 €</div>
        </div>
    </div>
</div>
