
<div class="mixSelection service-view">
    <h3 class="service-question"></h3>
    <div class="service-answers">
        <div class="service-answer">
            <div class="service-answer-type-input">
                <label>
                    <p><b class="service-answer-text"></b></p>
                    <input type="text" class="service-answer-view-id service-answer-default-value">
                </label>
            </div>
            <div class="service-answer-type-image">
                <p><b class="service-answer-text"></b></p>
                <div>
                    <img data-img>
                </div>
            </div>
            <div class="service-answer-type-radio">
                <p><b class="service-answer-text"></b></p>
                <div class="service-answer-option-radio">
                    <label>
                        <input type="radio" class="service-answer-view-id">
                        <span class="service-answer-option-text"></span>
                    </label>
                </div>
            </div>
            <div class="service-answer-type-checkbox">
                <p><b class="service-answer-text"></b></p>
                <div>
                    <img data-img>
                </div>
                <div class="service-answer-option-checkbox">
                    <label>
                        <input type="checkbox" class="service-answer-view-id">
                        <span class="service-answer-option-text"></span>
                    </label>
                </div>
            </div>
            <div class="service-answer-type-dropdown">
                <p><b class="service-answer-text"></b></p>
                <select class="service-answer-default-value service-answer-view-id">
                    <option class="service-answer-option-text"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="service-answer-fake">
        <button class="service-answer-confirm">Bestätigen</button>
        <button class="service-answer-back">Zurück</button>
    </div>
</div>
