
<div data-view class="mixSelection">
    <h3 data-question></h3>
    <div data-answers>
        <div data-answer>
            <div data-answer-type-input>
                <label>
                    <p><b data-answer-text></b></p>
                    <input type="text" data-answer-view-id data-answer-default-value>
                </label>
            </div>
            <div data-answer-type-image>
                <p><b data-answer-text></b></p>
                <div>
                    <img data-img>
                </div>
            </div>
            <div data-answer-type-radio>
                <p><b data-answer-text></b></p>
                <div data-answer-option-radio>
                    <label>
                        <input type="radio" data-answer-view-id>
                        <span data-answer-option-text></span>
                    </label>
                </div>
            </div>
            <div data-answer-type-checkbox>
                <p><b data-answer-text></b></p>
                <div>
                    <img data-img>
                </div>
                <div data-answer-option-checkbox>
                    <label>
                        <input type="checkbox" data-answer-view-id>
                        <span data-answer-option-text></span>
                    </label>
                </div>
            </div>
            <div data-answer-type-dropdown>
                <p><b data-answer-text></b></p>
                <select data-answer-default-value data-answer-view-id>
                    <option data-answer-option-text></option>
                </select>
            </div>
        </div>
    </div>
    <div data-answer-fake>
        <button data-answer-confirm>Bestätigen</button>
        <button data-answer-back>Zurück</button>
    </div>
</div>
